{% extends 'base.html.twig' %}

{% block body %}
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header center white-text light">{{ campaign.title }}</h1>
            <div class="row center">
                <h5 class="header col s12 light">- Organisée par : {{ campaign.name }} -</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/assets/images/8.jpg" alt="Titre de la campagne"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h4>Participez en quelques secondes</h4>
            </div>
        </div>
        <!--   Form Section   -->
        <div class="card">
            <div class="card-content">
                <div class="row">
                    {{form_start(form)}}
{#                    <h5 class="center">Votre identité</h5>#}
                    <div class="input-field col s12 l6">

                        {{form_widget(form.email, {'attr':{'class':'validate'}})}}
                        {{ form_errors(form) }}
                        {{form_label(form.email)}}
                    </div>
                    <div class="input-field col s12 l6">
                        {{form_widget(form.amount, {'attr':{'class':'validate'}, 'value': amount})}}
                        {{ form_errors(form) }}
                        {{form_label(form.amount)}}
                        {{ form_errors(form) }}
                        {{form_label(form.amount)}}
                    </div>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Masquer mon identité auprès des autres participants</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Masquer le montant de ma participation auprès des autres participants</span>
                        </label>
                    </p>
                    <div class="clearfix"></div>
{#                    {{ form_start(form, {attr: {id: form.vars.id}}) }}#}
{#                    <div class="form-group">#}
{#                        <label for="card-element">#}
{#                            Credit or Debit Card#}
{#                        </label>#}
{#                        <div id="card-element" class="form-control"></div>#}
{#                        <div id="card-errors" class="help-block" role="alert"></div>#}
{#                    </div>#}
{#                    {{ form_widget(form.token) }}#}
{#                    {{ form_end(form) }}#}
                    <div class="input-field col s12 l6">
                        <a href="{{ path('app_campaign_show', {'id': campaign.id}) }})}}" class="btn btn-large waves-effect waves-light grey col s12">Annuler</a>
                    </div>
                    <div class="input-field col s12 l6">
                        <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit" name="action">
                            Participer
                            <i class="material-icons right">euro_symbol</i>
                        </button>
                    </div>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        let stripe = Stripe("pk_test_51IuZkVBMWIqO6CChzH8pw52KCqCZiu9mpUUmzDZvNujuuSculZwjoooNM8pY91hTTE7uRKumqaFjsv0GQHb5ecai00W8R0mT3f");
        // The items the customer wants to buy
        let elements = stripe.elements();
        let style = {
            base: {
                // Add your base input styles here. For example:
                fontSize: '16px',
                color: '#32325d',
            },
        };
        // Create an instance of the card Element.
        let card = elements.create('card', {style: style});
        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');
    </script>
{% endblock %}